.review-box{
    border: orange 2px solid
}

.review-written{
    border: orange 2px solid
}

.stars-given{
    border: orange 2px solid
}

.write-review{
    margin-top: 10px;
    height: 40px;
    width: 200px;
}

.form-button{
    text-decoration: none;
    height: 60px;
    border: 0.5px black solid;
    color: black;
    background-color: ivory;
    border-radius: 5px;
}

.form-button:hover{
    box-shadow: 2px 5px 15px rgba(93, 93, 93, 0.298);
    background-color: whitesmoke
}

body {
    text-decoration: none;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: black;
}
