.review-box{
    border: orange 2px solid
}

.review-written{
    border: orange 2px solid
}

.stars-given{
    border: orange 2px solid
}

body {
    text-decoration: none;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
