.all-spots-container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 1%;
    text-decoration: none;
}

.spots-container{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 450px;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.image-show{
    height: 420px;
    width: 450px;
    border-radius: 15px;
}
.ratings-and-where{
    display: flex;
    align-items: center;

}
.spot-where{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.describe-spot{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.spot-info{
    text-decoration: none;
    color: black;
}
.reviews-container{
    display: flex;
    width: 70%;
    border-radius: 8px;
}
.reviews-container:hover {
    background-color: gainsboro;
}

.actual-pic,
.image-container {
    height: 33%;
    width: 100%;
    border-radius: 25px;
}
form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
}
input{
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hey-spot{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.encompass-spot{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.spot-right-card{
    display: flex;
    flex-direction: row;
    height: 140px;
    width: 400px;
    border: red 2px solid;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.let-there-be-review{
    display: flex;
    justify-content: space-between;
}
.spot-big-nest{
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.avg-rating{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.starry{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.writtenby{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    font-weight: 450;
}

.actual-review-text{
    display: flex;
    align-items: center;
    color: black;
}
.nest-review{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.nest-review:hover{
    background-color: gainsboro;
}

.describe-spot{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.actual-stars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
