.all-spots-container{
    display: flex;
    flex-wrap: wrap;
    border: red 10px solid;
    margin: 1%;
    text-decoration: none;
}

.spots-container{
    border: grey 2px solid;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 450px;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.image-show{
    height: 420px;
    width: 450px;
    border-radius: 15px;
}

/* .inside-card {
    display: flex;
    justify-content: space-between;
    height: 550px;
    width: 500px;
    flex-wrap: wrap;
    margin: 1px;
    border: black solid 2px;
} */

.spot-info{
    text-decoration: none;
    color: black;
}
.reviews-container {
    border: black solid 2px;
}

.actual-pic,
.image-container {
    height: 300px;
    width: 400px;
}
