.spots-container{
    border: orange 2px solid
}

.image-show{
    object-fit:cover
}
.container-spot-name{
    border: black 2px solid
}

.container-spot-where{
    border: black 2px solid
}

.container-spot-details{
    border: black 2px solid
}

.spot-description{
    border: black 2px solid
}

.price-by-night{
    border: black 2px solid
}
